#─FOLDERS─────────────────────────────────────────────────────
example_pfm

#─FILES───────────────────────────────────────────────────────
Manifest.toml
*.png
*.tiff
*.jpeg
*.gif
*.bmp
memorial.pfm
# to make a local backup file
*_backup* 
#─────────────────────────────────────────────────────────────