#─FOLDERS─────────────────────────────────────────────────────
example_pfm

#─FILES───────────────────────────────────────────────────────
Manifest.toml
*.png
*.tiff
*.jpeg
*.gif
*.bmp
*.PFM
*.pfm
# to make a local backup file
*_backup* 
# exceptions
!reference*
#─────────────────────────────────────────────────────────────